header {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}

.question-body {
    text-align: center;
    position: relative;
    margin: 30px;
}

#quiz-question {
    display: none;
}

#the-result {
    display: none;
    border-top: 5px solid black;
    width: 90vw;
}

.btn-wrapper {
    width: 90vw;
}

.btnAnswer {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    display: block;
    width: inherit;
    font-size: large;
}
